<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .galleryimg {
            max-width: 200px;
        }
    </style>

    <title>color extractor</title>
</head>

<body>
    <div class="container">
        {% for img in imgs%}
        <h3>{{img.fname}}</h3>
        <img src="{{img.fname}}" class="galleryimg" />
        <table class="table table-sm">
            {% for col in img.colors%}
            <tr>
                <td style="background-color:rgb({{col.rgb[0]}}, {{col.rgb[1]}}, {{col.rgb[2]}})">&nbsp;</td>
                <td>rgb{{col.rgb}}</td>
                <td>hsl{{col.hsl}}</td>
                <td>{{col.percent}}%</td>
            </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </div>

</body>

</html>
